API_DOMAIN=
DOMAIN=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
MONGODB_URI=
MONGO_USERNAME=
MONGO_PWD=
NEXTAUTH_URL=
NEXTAUTH_URL_INTERNAL=
NEXTAUTH_SECRET=
AUTH_SECRET=
DB_NAME=
SESSION_VALIDITY_DURATION_IN_MINUTES=
ENCRYPTION_KEY=